<div class="item">
    <img [src]="item.Poster" class="img" (click)="moreDetails(item.imdbID)" (error)="imgUrlError($event)">
    <button type="button" class="btn btn-outline-info img" *ngIf="moreDeailesButton" (click)="moreDetails(item.imdbID)">
        more details
    </button>
    <div>
        <input type="text" class="btn btn-outline-info dateils" [(ngModel)]="titleInput" [value]="item.Title"
            (blur)="update()">
        <div class="dateils"> {{formatYear | date:'dd-MM-yyyy'}}</div>
    </div>
</div>